a:hover{
    color: #794646;
}
a:active{
    color: #59a5b8;
}

a{
    text-decoration: none;
    color: black;
}

body{
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}
.container{
    width: 100%;
    align-items: center;
}
.floor1{
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.f1-h1{
    font-size: 25px;
    color: rgb(14, 11, 11);
    margin-left: 50px;
    position: relative;
}




.first-f1-link{
    margin-left: auto;
}

.second-f1-link{
    margin-right: 20px;
}

.line{
    min-width: 100%;
    height:2px;
    background-color: black;
}

.f2-room1{
    width: 100%;
    display: flex;
}
.f2-r1-z1{
    text-align: center;
    margin-left: 40px;
}

.last-z1{
    margin-right: 50px;
}

.floor2{
   width: 100%;
   align-items: center;
   text-align: center; 
   padding-left: auto;
   padding-right: auto;
   margin-top: 100px;
}


@media all and (max-width:474px){
    .line{
        width: 100%;
    } 
}


    




















.lit-ul,
.last{
    display: none;
}
.katta-ul:hover .lit-ul{
    display: block;
}
.kichkina-UL-li:hover .last{
display: block;
}



.lit-ul2,
.last2{
    display: none;
}
.katta-ul2:hover .lit-ul2{
    display: block;
}
.kichkina-UL-li2:hover .last2{
    display: block;
    }



    .lit-ul3,
    .last3{
        display: none;
    }
    .katta-ul3:hover .lit-ul3{
        display: block;
    }
    .kichkina-UL-li3:hover .last3{
        display: block;
        }

li{
  list-style: none; 
  color: black; 
}
a{
    text-decoration: none;
    color: black;
}
